.column-3 {
    width:75%;
    float:left;
}
.column-2 {
    width: 50%;
    float: left;
}
.column-1 {
    width: 25%;
    float: left;
}
button.calc-button {
    width: 100%;
    height:100px;
    border:2px solid #ddd;
    background:#eee;
    font-size: 32px;
    color: gray;
}
.result {
    margin-right: 50px;
    width: 100%;
    max-width: 100vw;
    height: 100px;
    background: solid #ddd;
    text-align: right;
    font-size: 32px;
    color: gray;
    float: right;
    border: none;
}

.previous-result {
    position: absolute;
    right: 50px;
    z-index: 10;
    top: 10px;
    color: #aaa;
}